* {padding: 0; margin: 0; border: none; box-sizing: border-box}

body {
    background-color: cornflowerblue;
    padding: 40px;
}

.dice_container {
    height: calc(100vh - 80px);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.dice_container_row1 {
    display: flex;
    justify-content: space-between;
}

.dice_container_row2 {
    display: flex;
    justify-content: space-between;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dice_face__spot {
    background-color: black;
    border-radius: 50%;
    height: 2vw;
    width: 2vw;
}

.dice_face {
    display: flex;
    height: 10vw;
    width: 10vw;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    justify-content: space-between;
    box-shadow: 7px 7px 10px 10px rgba(0, 0, 0, 0.25);
}




/* DICE 1 */
.dice_face1 {
    display: flex;
    height: 10vw;
    width: 10vw;
    background-color: white;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 7px 7px 10px 10px rgba(0, 0, 0, 0.25);
}
/* /DICE 1 */


/* DICE 2 */
.dice_face2__spot_container1 {
    display: flex;
    flex-direction:column;
}

.dice_face2__spot_container2 {
    display: flex;
    flex-direction: column-reverse;
}
/* /DICE 2 */

/* DICE 3 */
.dice_face3__spot_container1 {
    display: flex;
    flex-direction:column;
}

.dice_face3__spot_container2 {
    display: flex;
    align-items: center;
}

.dice_face3__spot_container3 {
    display: flex;
    flex-direction: column-reverse;
}
/* /DICE 3 */

/* DICE 4 */
.dice_face4__spot_container1 {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

.dice_face4__spot_container2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* /DICE 4 */


/* DICE 5 */
.dice_face5__spot_container1 {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

.dice_face5__spot_container2 {
    display: flex;
    align-items: center;
}

.dice_face5__spot_container3 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}
/* /DICE 5 */

/* DICE 6 */
.dice_face6__spot_container1 {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

.dice_face6__spot_container2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* /DICE 6 */




